.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.status-box {
  border: 2px solid #61dafb;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  min-width: 400px;
}

.status-success {
  color: #4CAF50; /* Green */
  font-weight: bold;
}

.status-error {
  color: #F44336; /* Red */
  font-weight: bold;
}